<a href="https://colab.research.google.com/github/AdityaDhuri/pandas/blob/main/practice1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [4]:
df = pd.read_csv("/content/Salaries.csv")

In [ ]:
df.head()

In [ ]:
df.head(10)

In [ ]:
df.dtypes

In [ ]:
df.shape

In [ ]:
len(df.columns)

In [ ]:
len(df.index)

In [ ]:
df.head(50).mean()

In [ ]:
df.std()

In [ ]:
df.describe()

In [ ]:
df.phd

In [ ]:
df['phd'].count()

In [ ]:
df['phd'].describe()

In [ ]:
df['phd'].mean()

In [ ]:
df[df['phd']>=20]

In [44]:
df[df['discipline']=='A']

In [42]:
df1=df[df['phd']>=20]

In [ ]:
df.iloc[:,0:3]

In [ ]:
df.iloc[0:2]

In [ ]:
df.iloc[0:50 ,[2,3,5]]

In [64]:
df[['phd', 'salary']].agg(['mean','max','min'])

            phd         salary
mean  19.705128  108023.782051
max   56.000000  186960.000000
min    1.000000   57800.000000